In [1]:
import graphlab

# Task 1 : Highest count words & TF-IDFs for Elton John!

In [2]:
people=graphlab.SFrame('/home/iresh/001IM/Week 4/people_wiki.csv')

[INFO] graphlab.cython.cy_server: GraphLab Create v2.1 started. Logging: /tmp/graphlab_server_1482499543.log

This non-commercial license of GraphLab Create for academic use is assigned to justiformfun@gmail.com and will expire on November 07, 2017.

Finished parsing file /home/iresh/001IM/Week 4/people_wiki.csv

Parsing completed. Parsed 100 lines in 2.12708 secs.

------------------------------------------------------
Inferred types from first 100 line(s) of file as
column_type_hints=[str,str,str]
If parsing fails due to incorrect types, you can correct
the inferred type list above and pass it to read_csv in
the column_type_hints argument
------------------------------------------------------

Read 26690 lines. Lines per second: 13059.8

Finished parsing file /home/iresh/001IM/Week 4/people_wiki.csv

Parsing completed. Parsed 59071 lines in 3.24874 secs.

In [20]:
elton= people[people['name']=='Elton John']

In [21]:
elton['word_count']=graphlab.text_analytics.count_words(elton['text'])

In [22]:
elton.head()

Columns:
	URI	str
	name	str
	text	str
	word_count	dict
	tfidf	dict

Rows: 1

Data:
+-------------------------------+------------+-------------------------------+
|              URI              |    name    |              text             |
+-------------------------------+------------+-------------------------------+
| <http://dbpedia.org/resour... | Elton John | sir elton hercules john cb... |
+-------------------------------+------------+-------------------------------+
+-------------------------------+-------------------------------+
|           word_count          |             tfidf             |
+-------------------------------+-------------------------------+
| {'all': 1, 'least': 1, 'pr... | {'all': 1.6431112434912472... |
+-------------------------------+-------------------------------+
[1 rows x 5 columns]

In [23]:
elton_word_count_table=elton[['word_count']].stack('word_count',new_column_name=['word','count'])

In [24]:
elton_word_count_table.sort('count',ascending=False)

Columns:
	word	str
	count	int

Rows: 255

Data:
+-------+-------+
|  word | count |
+-------+-------+
|  the  |   27  |
|   in  |   18  |
|  and  |   15  |
|   of  |   13  |
|   a   |   10  |
|  has  |   9   |
|  john |   7   |
|   he  |   7   |
|   on  |   6   |
| award |   5   |
+-------+-------+
[255 rows x 2 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

## Hence the 3 Most used words are---- 'the','in' &'and'

## Let's Check the same for TF-IDFs

In [25]:
people['word_count']=graphlab.text_analytics.count_words(people['text'])

In [26]:
tfidf = graphlab.text_analytics.tf_idf(people['word_count'])

In [27]:
graphlab.SFrame(tfidf)

Columns:
	X1	dict

Rows: 59071

Data:
+-------------------------------+
|               X1              |
+-------------------------------+
| {'selection': 3.8365785530... |
| {'precise': 6.443200606955... |
| {'just': 2.700729968710864... |
| {'all': 1.6431112434912472... |
| {'they': 1.899340117819389... |
| {'currently': 1.6370889691... |
| {'exclusive': 10.455187230... |
| {'taxi': 6.052021456094502... |
| {'houston': 3.935505942157... |
| {'phenomenon': 5.750053426... |
+-------------------------------+
[59071 rows x 1 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [28]:
people['tfidf']=graphlab.SFrame(tfidf)['X1']

In [29]:
people.head()

Columns:
	URI	str
	name	str
	text	str
	word_count	dict
	tfidf	dict

Rows: 10

Data:
+-------------------------------+---------------------+
|              URI              |         name        |
+-------------------------------+---------------------+
| <http://dbpedia.org/resour... |    Digby Morrell    |
| <http://dbpedia.org/resour... |    Alfred J. Lewy   |
| <http://dbpedia.org/resour... |    Harpdog Brown    |
| <http://dbpedia.org/resour... | Franz Rottensteiner |
| <http://dbpedia.org/resour... |        G-Enka       |
| <http://dbpedia.org/resour... |    Sam Henderson    |
| <http://dbpedia.org/resour... |    Aaron LaCrate    |
| <http://dbpedia.org/resour... |   Trevor Ferguson   |
| <http://dbpedia.org/resour... |     Grant Nelson    |
| <http://dbpedia.org/resour... |     Cathy Caruth    |
+-------------------------------+---------------------+
+-------------------------------+-------------------------------+
|              text             |           word_count          |
+-------------------------------+-------------------------------+
| digby morrell born 10 octo... | {'selection': 1, 'carltons... |
| alfred j lewy aka sandy le... | {'precise': 1, 'thomas': 1... |
| harpdog brown is a singer ... | {'just': 1, 'issued': 1, '... |
| franz rottensteiner born i... | {'all': 1, 'bauforschung':... |
| henry krvits born 30 decem... | {'they': 1, 'gangstergenka... |
| sam henderson born october... | {'currently': 1, 'less': 1... |
| aaron lacrate is an americ... | {'exclusive': 2, 'producer... |
| trevor ferguson aka john f... | {'taxi': 1, 'salon': 1, 'g... |
| grant nelson born 27 april... | {'houston': 1, 'frankie': ... |
| cathy caruth born 1955 is ... | {'phenomenon': 1, 'deboras... |
+-------------------------------+-------------------------------+
+-------------------------------+
|             tfidf             |
+-------------------------------+
| {'selection': 3.8365785530... |
| {'precise': 6.443200606955... |
| {'just': 2.700729968710864... |
| {'all': 1.6431112434912472... |
| {'they': 1.899340117819389... |
| {'currently': 1.6370889691... |
| {'exclusive': 10.455187230... |
| {'taxi': 6.052021456094502... |
| {'houston': 3.935505942157... |
| {'phenomenon': 5.750053426... |
+-------------------------------+
[10 rows x 5 columns]

In [30]:
elton=people[people['name']=='Elton John']

In [31]:
elton[['tfidf']].stack('tfidf',new_column_name=['word','tfidf']).sort('tfidf',ascending=False)

Columns:
	word	str
	tfidf	float

Rows: 255

Data:
+---------------+---------------+
|      word     |     tfidf     |
+---------------+---------------+
|    furnish    |  18.38947184  |
|     elton     |  17.48232027  |
|   billboard   | 17.3036809575 |
|      john     | 13.9393127924 |
|  songwriters  |  11.250406447 |
| tonightcandle | 10.9864953892 |
|  overallelton | 10.9864953892 |
|    19702000   | 10.2933482087 |
|   fivedecade  | 10.2933482087 |
|      aids     |  10.262846934 |
+---------------+---------------+
[255 rows x 2 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

# So the 3 Most used TF-IDF words  are:-------->>>> 'furnish','elton' & 'billboard'

## Issue:- wasn't able to create tfidf independently for elton only

# Task 2 :------- Dist b/w Elton & Paul McCartney/Victoria Beckham... Who is closely related to ELton!!

In [47]:
victoria =people[people['name']=='Victoria Beckham']

In [48]:
paul=people[people['name']=='Paul McCartney']

In [50]:
graphlab.distances.cosine(elton['tfidf'][0],victoria['tfidf'][0])

0.9567006376655429

In [52]:
graphlab.distances.cosine(elton['tfidf'][0],paul['tfidf'][0])

0.8250310029221779

# So the Answer is Paul is more close to Elton!!

In [32]:
knn_model=graphlab.nearest_neighbors.create(people,features=['tfidf'],distance='cosine',label='name')

Starting brute force nearest neighbors model training.

In [54]:
word_count_model=graphlab.nearest_neighbors.create(people,features=['word_count'],distance='cosine',label='name')

Starting brute force nearest neighbors model training.

In [33]:
knn_model.query(elton)

Starting pairwise querying.

+--------------+---------+-------------+--------------+

| Query points | # Pairs | % Complete. | Elapsed Time |

+--------------+---------+-------------+--------------+

| 0            | 1       | 0.00169288  | 107.119ms    |

| Done         |         | 100         | 909.299ms    |

+--------------+---------+-------------+--------------+

Columns:
	query_label	int
	reference_label	str
	distance	float
	rank	int

Rows: 5

Data:
+-------------+------------------+--------------------+------+
| query_label | reference_label  |      distance      | rank |
+-------------+------------------+--------------------+------+
|      0      |    Elton John    | -2.22044604925e-16 |  1   |
|      0      |   Rod Stewart    |   0.717219667893   |  2   |
|      0      |  George Michael  |   0.747600998969   |  3   |
|      0      | Sting (musician) |   0.747671954431   |  4   |
|      0      |   Phil Collins   |   0.75119324879    |  5   |
+-------------+------------------+--------------------+------+
[5 rows x 4 columns]

In [58]:
word_count_model.query(elton)

Starting pairwise querying.

+--------------+---------+-------------+--------------+

| Query points | # Pairs | % Complete. | Elapsed Time |

+--------------+---------+-------------+--------------+

| 0            | 1       | 0.00169288  | 18.434ms     |

| Done         |         | 100         | 634.493ms    |

+--------------+---------+-------------+--------------+

Columns:
	query_label	int
	reference_label	str
	distance	float
	rank	int

Rows: 5

Data:
+-------------+-------------------+-------------------+------+
| query_label |  reference_label  |      distance     | rank |
+-------------+-------------------+-------------------+------+
|      0      |     Elton John    | 2.22044604925e-16 |  1   |
|      0      |   Cliff Richard   |   0.16142415259   |  2   |
|      0      |   Sandro Petrone  |   0.16822542751   |  3   |
|      0      |    Rod Stewart    |   0.168327165587  |  4   |
|      0      | Malachi O'Doherty |   0.177315545979  |  5   |
+-------------+-------------------+-------------------+------+
[5 rows x 4 columns]

# Ans 4[a] Rod Stewart 4[b] Cliff Richard

In [59]:
knn_model.query(victoria)

Starting pairwise querying.

+--------------+---------+-------------+--------------+

| Query points | # Pairs | % Complete. | Elapsed Time |

+--------------+---------+-------------+--------------+

| 0            | 1       | 0.00169288  | 26.289ms     |

| Done         |         | 100         | 863.905ms    |

+--------------+---------+-------------+--------------+

Columns:
	query_label	int
	reference_label	str
	distance	float
	rank	int

Rows: 5

Data:
+-------------+---------------------+-------------------+------+
| query_label |   reference_label   |      distance     | rank |
+-------------+---------------------+-------------------+------+
|      0      |   Victoria Beckham  | 1.11022302463e-16 |  1   |
|      0      |    David Beckham    |   0.548169610263  |  2   |
|      0      | Stephen Dow Beckham |   0.784986706828  |  3   |
|      0      |        Mel B        |   0.809585523409  |  4   |
|      0      |    Caroline Rush    |   0.819826422919  |  5   |
+-------------+---------------------+-------------------+------+
[5 rows x 4 columns]

In [60]:
word_count_model.query(victoria)

Starting pairwise querying.

+--------------+---------+-------------+--------------+

| Query points | # Pairs | % Complete. | Elapsed Time |

+--------------+---------+-------------+--------------+

| 0            | 1       | 0.00169288  | 18.275ms     |

| Done         |         | 100         | 702.573ms    |

+--------------+---------+-------------+--------------+

Columns:
	query_label	int
	reference_label	str
	distance	float
	rank	int

Rows: 5

Data:
+-------------+--------------------------+--------------------+------+
| query_label |     reference_label      |      distance      | rank |
+-------------+--------------------------+--------------------+------+
|      0      |     Victoria Beckham     | -2.22044604925e-16 |  1   |
|      0      | Mary Fitzgerald (artist) |   0.207307036115   |  2   |
|      0      |      Adrienne Corri      |   0.214509782788   |  3   |
|      0      |     Beverly Jane Fry     |   0.217466468741   |  4   |
|      0      |      Raman Mundair       |   0.217695474992   |  5   |
+-------------+--------------------------+--------------------+------+
[5 rows x 4 columns]

# Ans 4[c] Dvid Beckham # Ans 4[d] Mary Fitzgerald(artist)

In [54]:
vvknd=people[people['name']=='Lalu Prasad Yadav']

In [55]:
vvknd

Columns:
	URI	str
	name	str
	text	str
	word_count	dict
	tfidf	dict

Rows: Unknown

Data:
+-------------------------------+-------------------+
|              URI              |        name       |
+-------------------------------+-------------------+
| <http://dbpedia.org/resour... | Lalu Prasad Yadav |
+-------------------------------+-------------------+
+-------------------------------+-------------------------------+
|              text             |           word_count          |
+-------------------------------+-------------------------------+
| lalu prasad yadav born 11 ... | {'sentence': 1, 'years': 1... |
+-------------------------------+-------------------------------+
+-------------------------------+
|             tfidf             |
+-------------------------------+
| {'sentence': 4.57467712151... |
+-------------------------------+
[? rows x 5 columns]
Note: Only the head of the SFrame is printed. This SFrame is lazily evaluated.
You can use sf.materialize() to force materialization.

In [56]:
vvknd['text']

dtype: str
Rows: ?
['lalu prasad yadav born 11 june 1948 is an indian politician from the state of bihar he was chief minister of bihar from 1990 to 1997 and minister of railways from 2004 to 2009 in the ruling united progressive alliance upa government he is the president of the rashtriya janata dal political party he was a member of parliament of 15th lok sabha from the saran constituency in bihar but disqualified as mp owing to conviction for his involvement in the 1996 fodder scamhe entered politics during his student days at patna university and he was elected a member of the lok sabha in 1977 as a janata party candidate at the age of 29 he was one of its youngest members of parliamentyadav became chief minister of bihar in 1990 but resigned in 1997 following escalating corruption charges relating to the fodder scam from 1997 to 2005 with brief interruptions his wife rabri devi was the chief minister her political opponents often accused her as having served as his surrogate his tenure as chief minister of the state has been criticized for lawlessness and has been termed as the jungle rajmany accusations have been made about him citing him as an encourager of criminality and gunda raj in bihar he is known as a crowdpuller shrewd and colourful politician but has been criticized for promoting and encouraging castebased politics and there are several corruption cases against him on 3 october 2013 he was awarded a sentence of five years of rigorous imprisonment and 7px25 lakh us39000 fine for his role in the fodder scam', ... ]

In [12]:
knn_model=graphlab.nearest_neighbors.create(people,features=['tfidf'],label='name')

Starting brute force nearest neighbors model training.

In [57]:
vvknd[['tfidf']].stack('tfidf',new_column_name=['word','tfidf']).sort('tfidf',ascending=False)

Columns:
	word	str
	tfidf	float

Rows: 145

Data:
+----------+---------------+
|   word   |     tfidf     |
+----------+---------------+
|  bihar   | 35.6817389376 |
|  fodder  | 25.0423141788 |
|   scam   |  14.109339513 |
| minister |   13.7424357  |
|  janata  | 13.0876882655 |
|   lok    |  12.192292522 |
|  sabha   | 11.7013939043 |
| us39000  | 10.9864953892 |
| rajmany  | 10.9864953892 |
|  7px25   | 10.9864953892 |
+----------+---------------+
[145 rows x 2 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [58]:
knn_model.query(vvknd)

Starting pairwise querying.

+--------------+---------+-------------+--------------+

| Query points | # Pairs | % Complete. | Elapsed Time |

+--------------+---------+-------------+--------------+

| 0            | 1       | 0.00169288  | 34.938ms     |

| Done         |         | 100         | 786.973ms    |

+--------------+---------+-------------+--------------+

Columns:
	query_label	int
	reference_label	str
	distance	float
	rank	int

Rows: 5

Data:
+-------------+--------------------------+--------------------+------+
| query_label |     reference_label      |      distance      | rank |
+-------------+--------------------------+--------------------+------+
|      0      |    Lalu Prasad Yadav     | -2.22044604925e-16 |  1   |
|      0      | Gajendra Prasad Himanshu |   0.645163044615   |  2   |
|      0      |       Sadhu Yadav        |   0.651058847063   |  3   |
|      0      |   Mohammad Shahabuddin   |   0.665926337509   |  4   |
|      0      |     Upendra Kushwaha     |   0.715352134331   |  5   |
+-------------+--------------------------+--------------------+------+
[5 rows x 4 columns]